/*GLOBAL CSS*/
*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

/*COLOR*/
html{
--Desaturated-Red: hsl(0, 36%, 70%)
--Soft-Red: hsl(0, 93%, 68%)
--Dark-Grayish-Red: hsl(0, 6%, 24%)

/*Gradients*/

--Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
--Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

/*font*/

--font-family: 'Josefin Sans', sans-serif;

}

/*imagem logo*/
header img{
  position: absolute;
  display: inline-block;
  margin: 2%;
  padding-left: 5%;
}

/*conteudo da pagina*/
.container{

min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
padding-left: 18%;
background: hsl(0, 79%, 91%)
}

.left{
 display: block;
}

.container .left h2{
font-size: 3rem;
font-weight: 200;
color: var(--Dark-Grayish-Red);
line-height: 3rem;
text-align: left;
letter-spacing: 0.5rem;
}

.left p{

  justify-content: flex-start;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.25rem;
}

.form{
  text-align: justify;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.15rem;

}

#email{
  width: 190px;
  height: 20px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
}

.button{
  cursor: pointer;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  background-color: var(hsl(0, 63%, 77%));
}

.containerimg{


width: 40%;
height: 100vh;
top: 0;
margin-top:-160;
padding: 0;
margin-right: 0;
background-position: center top;
display: block;
padding-top: 0;

}